In [18]:
import numpy as np
import pandas as pd
from numpy.random import normal

In [19]:
y= normal(loc= 1500,scale= 500, size= 5000)

In [31]:
data = pd.DataFrame(y)

In [36]:
data.columns=['Y']

In [37]:
data[0:10]

             Y
0  2178.599489
1  2487.955070
2   913.083277
3  1853.190832
4  1515.774468
5  1693.102001
6  1499.807439
7  1644.358030
8   127.089186
9  1865.756800

In [38]:
data.to_csv("data.csv")

In [39]:
z = pd.read_csv("data.csv", usecols=["Y"])

In [40]:
z

                Y
0     2178.599489
1     2487.955070
2      913.083277
3     1853.190832
4     1515.774468
...           ...
4995   909.587937
4996  1549.584297
4997  1492.093175
4998  1588.094368
4999  2461.478433

[5000 rows x 1 columns]

In [41]:
z.mean()

Y    1494.422112
dtype: float64